.background {
  fill: #eee;
}

line {
  stroke: #fff;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

textarea {
  padding: 2px;
  width: 714px;
  height: 360px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tab-content { margin-top: 10px; }

#cy {
  position: absolute;
  top: 200px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

table.cwl_explorer_qtip_table {
    border-collapse: separate;
    border-spacing: 10px;
    text-align: left;
}
